# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\person_dir\framework\go-frame-examples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
